/* Updated CSS styling for a better UI look */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}


.feeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.label{
    font-size: 16px;
    margin-top:-50px ;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}



select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    background-color: #f9f9f9;
}
  

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}
